@model IEnumerable<SchwammyStreams.Backend.Dto.EpisodeListItemDto>
@{
    ViewData["Title"] = "Home Page";

}
<div class="row">
    <div class="col-md-4">
        <img class="img-fluid" src="~/img/schwammy-transparent.png" title="schwammy" alt="schwammy" />
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h1>Welcome to Schwammy Streams!</h1>
            <h2>Fun, Coding, and a Bit of Chaos!</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Watch My Stream LIVE!</h2>
        <div class="alert alert-info">I stream live on Wednesday's at noon (Eastern Time/UTC -5)</div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="~/img/TwitchGlitchPurple.png" style="max-height: 75px; max-width:75px;" class="card-img img-fluid" alt="Twitch Logo">
                    <div class="card-body">
                        <h5 class="card-title">Twitch</h5>
                        <p class="card-text"><a href="twitch.tv/schwammystreams">watch</a></p>
                        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="~/img/MixerMerge_Light.png" style="max-height: 75px; max-width:75px;" class="card-img" alt="Mixer Logo">
                    <div class="card-body">
                        <h5 class="card-title">Mixer</h5>
                        <p class="card-text"><a href="mixer.com/schwammystreams">watch</a></p>
                        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="~/img/yt_icon_rgb.png" style="max-height: 75px; max-width:75px;" class="card-img" alt="YouTube Logo">
                    <div class="card-body">
                        <h5 class="card-title">YouTube</h5>
                        <p class="card-text"><a href="youtube.com/schwammystreams">watch</a></p>
                        @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h2>Check out the Archives!</h2>
        <form asp-action="Search">
            <div class="form-group">
                <input class="form-control" id="searchCriteria" name="searchCriteria"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>


        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Details)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Details)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
