@model IEnumerable<SchwammyStreams.Backend.Dto.EpisodeListItemDto>
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>
<form asp-action="Search">
    <div class="form-group">
        <input class="form-control" id="searchCriteria" name="searchCriteria" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                <a href="@item.ArchiveUrl" target="_blank">watch</a>
            </td>
        </tr>
        }
    </tbody>
</table>
